@charset "utf-8";
/* CSS Document */


/* Bagrunden/den brune farve til navigastionsbaren  */
.sidehovde{

	width: 1920px;
	height: 315px;
	
	background: #7F524D;
}


/*   */
.overskrift-skrald{
	
	top: 0px; 
	left: 200px;
	display: inline;
	
	font: bold normal normal 40px/53px Poppins;
	
	color: #548F45;
}
	