@charset "utf-8";
/* CSS Document */

#baggrund{
	background: #FFFCEB
}




/* --------------------------------------------------------------------- Sidehovde ----------------------------------------------------------*/
/* Bagrunden/den brune farve til navigastionsbaren  */
#sidehovde{
	position: absolute;
	top: -1px;
	left: -1px;
	
	width: 1904px;
	height: 251px;
	
	background: #7F524D;
}

/* Overskriften der fortæler hvilken side man er på  */
#overskrift{
	position: absolute;
	top: -25px;
	left: 903px;

	font: bold normal normal 40px/53px 'Poppins', sans-serif;
	color: #548F45;
}

/* Overskriften der fortæler hvilken side man er på  */
#logoSidehovde{
	top: 97px;
	left: 60px;
	
	width: 250px;
	height: 74px;
}
#logoSidehovde2{

	width: 250px;
	height: 74px;
}

/* Alle ikoner på navigastionsbarens fælles klasse  */
.navigationsbarLogoOgIkoner{
	position: absolute;
	
	font: normal normal normal 18px/24px 'Fanwood Text', serif;
	color: #548F45;
	background: none;
	Padding: 0px;
	border: none;
	
}

/***                                                                           Forbrug                                                                  ****/ 
/* Underoverskrift til Forbrug ikonet på navigastionsbaren. Når man trykker på den, så skifter flere elementer "stadier", så de passer til forbrug siden  */
#forbrugUnderoverskrift{
	top: 58px;
	left: 450px;
}
/* Forbrug ikonet på navigastionsbaren. Når man trykker på den, så skifter flere elementer "stadier", så de passer til forbrug siden  */
#forbrugIkon{
	top: 103px;
	left: 450px;
}


/***                                                                           Skrald                                                       ****/ 
/* Pilen til Skrald ikonet på navigastionsbaren. Når man trykker på den, så skifter flere elementer "stadier", så de passer til skrald siden  */
#skraldPil{
	top: 103px;
	left: 600px;
}
/* Underoverskrift til Skrald ikonet på navigastionsbaren. Når man trykker på den, så skifter flere elementer "stadier", så de passer til skrald siden  */
#skraldUnderoverskrift{
	top: 58px;
	left: 756px;
}
/* Skrald ikonet på navigastionsbaren. Når man trykker på den, så skifter flere elementer "stadier", så de passer til skrald siden  */
#skraldIkon{
	top: 103px;
	left: 750px;
}


/***                                                                           Sotering                                                         ****/ 
/* Pilen til Sotering ikonet på navigastionsbaren. Når man trykker på den, så skifter flere elementer "stadier", så de passer til sotering siden  */
#soteringPil{
	top: 103px;
	left: 900px;
}

/* Underoverskrift til Sotering ikonet på navigastionsbaren. Når man trykker på den, så skifter flere elementer "stadier", så de passer til sotering siden  */
#soteringUnderoverskrift{
	top: 58px;
	left: 1044px;
}

/* Sotering ikonet på navigastionsbaren. Når man trykker på den, så skifter flere elementer "stadier", så de passer til sotering siden  */
#soteringIkon{
	top: 103px;
	left: 1050px;
}





/***                                                                           Omdanelse                                                          ****/ 
/* Pil til Omdannelse ikonet (fra sotering) på navigastionsbaren. Når man trykker på den, så skifter flere elementer "stadier", så de passer til omdannelse siden  */
#omdannelsePil{
	top: 40px;
	left: 1200px;
}

/* Pil til Omdannelse ikonet (fra afbrænding) på navigastionsbaren. Når man trykker på den, så skifter flere elementer "stadier", så de passer til omdannelse siden  */
#omdannelsePil2{
	top: 105px;
	left: 1380px;
	transform: rotate(270deg);
}

/* Pil til Omdannelse ikonet på navigastionsbaren. Når man trykker på den, så skifter flere elementer "stadier", så de passer til omdannelse siden  */
#omdannelseUnderoverskrift{
	top: -5px;
	left: 1325px;
}

/* Pil til Omdannelse ikonet på navigastionsbaren. Når man trykker på den, så skifter flere elementer "stadier", så de passer til omdannelse siden  */
#omdannelseIkon{
	top: 40px;
	left: 1350px;
}



/***                                                                           Genadvendelse                                                                       ****/ 
/* Underoverskrift tilGenadvendelse ikonet på navigastionsbaren. Når man trykker på den, så skifter flere elementer "stadier", så de passer til genadvendelse siden  */
#genadvendelsePil{
	top: 40px;
	left: 1500px;
}

/* Genadvendelse ikonet på navigastionsbaren. Når man trykker på den, så skifter flere elementer "stadier", så de passer til genadvendelse siden  */
#genadvendelseUnderoverskrift{
	top: -5px;
	left: 1620px;
}

/* Genadvendelse ikonet på navigastionsbaren. Når man trykker på den, så skifter flere elementer "stadier", så de passer til genadvendelse siden  */
#genadvendelseIkon{
	top: 40px;
	left: 1650px;
}



/***                                                                           Afbrænding                                                ****/ 
/* Pil til Afbrænding ikonet på navigastionsbaren. Når man trykker på den, så skifter flere elementer "stadier", så de passer til afbrænding siden  */
#afbraendingPil{
	top: 160px;
	left: 1200px;
}

/* Underoverskrift til Afbrænding ikonet på navigastionsbaren. Når man trykker på den, så skifter flere elementer "stadier", så de passer til afbrænding siden  */
#afbraendingUnderoverskrift{
	top: 115px;
	left: 1327px;
}


/* Afbrænding ikonet på navigastionsbaren. Når man trykker på den, så skifter flere elementer "stadier", så de passer til afbrænding siden  */
#afbraendingIkon{
	top: 160px;
	left: 1350px;
}



/***                                                                           El                                        ****/ 
/* Pil til El ikonet på navigastionsbaren. Når man trykker på den, så skifter flere elementer "stadier", så de passer til el siden  */
#elPil{
	top: 160px;
	left: 1500px;
}

/* Underoverskrift til El ikonet på navigastionsbaren. Når man trykker på den, så skifter flere elementer "stadier", så de passer til el siden  */
#elUnderoverskrift{
	top: 115px;
	left: 1684px;
}

/* El ikonet på navigastionsbaren. Når man trykker på den, så skifter flere elementer "stadier", så de passer til el siden  */
#elIkon{
	top: 160px;
	left: 1650px;
}

/* --------------------------------------------------------------------- Interaktion del ----------------------------------------------------------*/

/* Billede af: Produkterne der bliver til skrald, og så langsomt fjernet  */
.skraldOverTid{
	position: absolute;
	top: 330px;
	left: 400px;
	
	width: 503px;
	height: 503px;
}

/* Faktaboxen der følger skraldets faser */
#faktabox{
	position: absolute;
	top: 375px;
	left: 1000px;
	
	width: 420px;
	height: 420px;
}

/* Teksten i fakta boxen */
.faktaboxIndhold{
	position: absolute;
	
	font-family: 'Palanquin', sans-serif;
	
	
	 padding-left: 5%;                      /* Afstanden imellem højre side af tekstboksen og teksten */
	padding-right: 5%;                     /* Afstanden imellem venstre side af tekstboksen og teksten */
	padding-bottom:5%;                     /* Afstanden imellem bunden af tekstboksen og teksten */
	
    margin-top: -28%;                       /* Afstanden imellem boksen og toppen af hjemmesidens kant */
	margin-right:22%;                      /* Afstanden imellem boksen og højre side af hjemmesidens kant */
	margin-left:49%;                       /* afstand fra boxen og venstre side af hjemmesidens kant*/
}
/* Gemmer den bageregste tekst. Ellers vil teksten se fed ud */
#faktaboxIndhold2{
	opacity: 0;
}

.plastOverTid{
	position: absolute;
	top: 410px;
	left: 700px;
	display: none;
	opacity: 0;
}

/* Ikoner og deres tilhørene pile fra soterings siden */
.soteringsIkonerOgPile{
	position: absolute;
	display: none;
	opacity: 0;
	
	background: none;
	Padding: 0px;
	border: none;
}

/* Plast ikon */
#plastIkon{
	top: 630px;
	left: 920px;
}

/* Plast pil */
#plastPil{
	top: 710px;
	left: 860px;
	transform: rotate(300deg);
}


/* Metal ikon */
#metalIkon{
	top: 855px;
	left: 670px;
}

/* Metal pil */
#metalPil{
	top: 810px;
	left: 670px;
}


/* Pap ikon */
#papIkon{
	top: 260px;
	left: 580px;
}

/* Pap pil */
#papPil{
	top: 308px;
	left: 625px;
	transform: rotate(90deg);
}


/* --------------------------------------------------------------------- Tekst del ----------------------------------------------------------*/






/* Sætter fonten og tekst størrelsen på underoverskrifterne */
.menuIndhold b {
	font-family: 'Fanwood Text', sans-serif;
	font-size: 20px;
}


/* Fonten på overskriften */
.menuIndhold h3 {
	font-family: 'Poppins', sans-serif;
}


/* Farven på brødteksten */
.menuIndhold hr {
	color: #fffceb;              
}




/* Opsætningen af selve tekstboksen */
.tab {
  overflow: hidden;                        /* Bestemmer om der skal være en scroll bar i boksen hvis teksten 'flyder over' kanten */
    padding-left: 5%;                      /* Afstanden imellem højre side af tekstboksen og teksten */
	padding-right: 5%;                     /* Afstanden imellem venstre side af tekstboksen og teksten */
	padding-bottom:5%;                     /* Afstanden imellem bunden af tekstboksen og teksten */
	
    margin-top: 50%;                       /* Afstanden imellem boksen og toppen af hjemmesidens kant */
	margin-bottom: 5%;					   /* Afstanden imellem boksen og bunden af hjemmesidens kant */
	margin-right:20%;                      /* Afstanden imellem boksen og højre side af hjemmesidens kant */
	margin-left:20%;                       /* afstand fra boxen og venstre side af hjemmesidens kant*/
	
    border-radius: 3px;                    /* Afrunder hjørnerne på boksen */
	
	background-color:#548f45;              /* Baggrundsfarven af tekstboksen */
    color: #fffceb;                        /* Farven af overteksten */
	
}





/* Opsætningen af knapperne */
.tab button {
	margin-right:20px;                     /* Afstanden imellem de 4 knapper */
    background-color: #71a132;             /* Den generelle farve på knappen når musen ikke er over den */
	color:#fffceb;                         /* Farven på teksten */
    float: left;                           /* Gør at knapperne placerer sig horizontalt i venstre side */
    border: none;                          /* Sørger for at rammerne som normalt dukker op på kasser og knapper ikke vises */                        
    cursor: pointer;                       /* For bedre at gøre knappen intuitiv ændres musens billede når man har musen over knappen */
    padding: 4px 16px;                     /* Sætter afstanden fra knappens kanter og knappens tekst */
    transition: 0.3s;                      /* Bestemmer hvor lang tid det tager for at farven skifter fra mørkegrøn til lysegrøn.   0.3s = 0.3 sekunder   */
    font-size: 20px;                       /* Sætter størrelsen på teksten */
	font-family: 'Palanquin', sans-serif;  /* Sætter fonten til Palanquin, en font fra Google Fonts med alternativet sans-serif */
    border-radius: 3px;                    /* Afrunder hjørnerne på knappen */
    margin-top: 2%;                        /* Afstanden imellem knappen og toppen af boksen */
}


/* Ændre knappens farve når musen hviler over den */
.tab button:hover {           
  background-color: #84bc3b;
}




/* Style the tab content */
.menuIndhold {
  display: none;
  padding: 6px 12px;
  border-top: none;
    margin-top: 20%;
	font-family: 'Poppins', sans-serif;
}




/* Nedsætter afstanden imellem knapperne og teksten vertikalt så afstanden ikke er for stor */
.menuIndhold h3 {
  margin-top: -8%;
}





/* --------------------------------------------------------------------- Mobil version ----------------------------------------------------------*/
@media screen and (max-width: 428px) {
	
	#sidehovde{
		top: -1px;
		left: -1px;
	
		width: 428px;
		height: 120px;
	}
	
	#overskrift{
		top: -7px;
		left: 255px;

		font: normal normal normal 25px/27px 'Poppins', sans-serif;
	}
	
	#logoSidehovde{
		top: 37px;
		left: 35px;
		
		width: 166.666666667px;
		height: 49.3333333333px;
	}
	
	#logoSidehovde2{
		width: 166.666666667px;
		height: 49.3333333333px;
	}

	
	
	
	
	
	
	
	/***                                                                           Ikoner                                                                  ****/ 
	#forbrugUnderoverskrift{
		display: none;
	}
	#forbrugIkon{
		top: 38px;
		left: 265px;
	}


	#skraldPil{
		display: none;
	}
	#skraldUnderoverskrift{
		display: none;
	}
	#skraldIkon{
		display: none;
	}
	#soteringPil{
		display: none;
	}
#soteringUnderoverskrift{
	display: none;
}
#soteringIkon{
	display: none;
}
#omdannelsePil{
	display: none;
}
#omdannelsePil2{
	display: none;
}
#omdannelseUnderoverskrift{
	display: none;
}
#omdannelseIkon{
	display: none;
}
#genadvendelsePil{
	display: none;
}
#genadvendelseUnderoverskrift{
	display: none;
}
#genadvendelseIkon{
	display: none;
}
#afbraendingPil{
	display: none;
}
#afbraendingUnderoverskrift{
	display: none;
}
#afbraendingIkon{
	display: none;
}
#elPil{
	display: none;
}
#elUnderoverskrift{
	display: none;
}
#elIkon{
	display: none;
}
	
	/***                                                                           Spil delen                                                                  ****/ 
	
	/* Billede af: Produkterne der bliver til skrald, og så langsomt fjernet  */
.skraldOverTid{
	top: 170px;
	left: 70px;
	
	width: 280px;
	height: 280px;
}

	/* Faktaboxen der følger skraldets faser */
	#faktabox{
		top: 500px;
		left: 30px;
	
		width: 350px;
		height: 350px;
	}
	
	.faktaboxIndhold{
		margin-top: -100%;                     
		margin-right: 5%;                      
		margin-left:  5%;  
		font-size: 17px;
		
		font: normal normal normal 17px/22px 'Palanquin', sans-serif;

	}
	
	/***                                                                           Tekst delen                                                                  ****/ 
	
	
	/* Ændre placering og størelse af bagrunden */
	.tab {	
   		margin-top: 237%;                       /* Afstanden imellem boksen og toppen af hjemmesidens kant */
		margin-bottom: 10%;					   /* Afstanden imellem boksen og bunden af hjemmesidens kant */
		margin-right: 5%;                      /* Afstanden imellem boksen og højre side af hjemmesidens kant */
		margin-left: 5%;                       /* afstand fra boxen og venstre side af hjemmesidens kant*/
	}
	
	/* Gør plads til knapperne så de kan være 2 sammen pr. linje */  
	.tab button {
		margin-right:5px;                     /* Afstanden imellem de 4 knapper */ 
		margin-left:0px;
    	padding: 4px 10px;                     /* Sætter afstanden fra knappens kanter og knappens tekst */
    	font-size: 17px;                       /* Sætter størrelsen på teksten */
	}
	
	/* Rykker overskriften og brødteksten lidt længere ned */ 
	.menuIndhold h3 {
 		margin-top: 10%;
	}
	
	
	
	
	
	
	
	
}





















	