@charset "utf-8";
/* CSS Document */






/* Sætter fonten og tekst størrelsen på underoverskrifterne */
.tabcontent b {
	font-family: 'Fanwood Text', sans-serif;
	font-size: 20px;
}











/* Fonten på overskriften */
.tabcontent h3 {
	font-family: 'Poppins', sans-serif;
}












/* Farven på brødteksten */
.tabcontent hr {
	color: #fffceb;              
}












/* Opsætningen af selve tekstboksen */
.tab {
  overflow: hidden;                        /* Bestemmer om der skal være en scroll bar i boksen hvis teksten 'flyder over' kanten */
    padding-left: 5%;                      /* Afstanden imellem højre side af tekstboksen og teksten */
	padding-right: 5%;                     /* Afstanden imellem venstre side af tekstboksen og teksten */
	padding-bottom:5%;                     /* Afstanden imellem bunden af tekstboksen og teksten */
    background-color:#548f45;              /* Baggrundsfarven af tekstboksen */
    margin-top: 5%;                        /* Afstanden imellem boksen og toppen af hjemmesidens kant */
	margin-right:20%;                      /* Afstanden imellem boksen og højre side af hjemmesidens kant */
	margin-left:20%;                       /* afstand fra boxen og venstre side af hjemmesidens kant*/
    border-radius: 3px;                    /* Afrunder hjørnerne på boksen */
    color: #fffceb;                        /* Farven af overteksten */
}











/* Opsætningen af knapperne */
.tab button {
	margin-right:20px;                     /* Afstanden imellem de 4 knapper */
    background-color: #71a132;             /* Den generelle farve på knappen når musen ikke er over den */
	color:#fffceb;                         /* Farven på teksten */
    float: left;                           /* Gør at knapperne placerer sig horizontalt i venstre side */
    border: none;                          /* Sørger for at rammerne som normalt dukker op på kasser og knapper ikke vises */                        
    cursor: pointer;                       /* For bedre at gøre knappen intuitiv ændres musens billede når man har musen over knappen */
    padding: 4px 16px;                     /* Sætter afstanden fra knappens kanter og knappens tekst */
    transition: 0.3s;                      /* Bestemmer hvor lang tid det tager for at farven skifter fra mørkegrøn til lysegrøn.   0.3s = 0.3 sekunder   */
    font-size: 20px;                       /* Sætter størrelsen på teksten */
	font-family: 'Palanquin', sans-serif;  /* Sætter fonten til Palanquin, en font fra Google Fonts med alternativet sans-serif */
    border-radius: 3px;                    /* Afrunder hjørnerne på knappen */
    margin-top: 2%;                        /* Afstanden imellem knappen og toppen af boksen */
}












/* Ændre knappens farve når musen hviler over den */
.tab button:hover {           
  background-color: #84bc3b;
}











/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
    margin-top: 20%;
	font-family: 'Poppins', sans-serif;
}








/* Nedsætter afstanden imellem knapperne og teksten vertikalt så afstanden ikke er for stor */
.tabcontent h3 {
  margin-top: -8%;
}